# Fruit and Veggie price analysis

## Data Source
The data comes from the USDA Economic Eesearch Service estimates of average costs of fruits and vegetables. The datasets can be found on the [USDA website](https://www.ers.usda.gov/data-products/fruit-and-vegetable-prices).

In [41]:
import numpy as np
import pandas as pd
import matplotlib as plt

## Importing and Exploring the Datasets

In [23]:
justFruit = pd.read_csv('Fruit-Prices-2022.csv')
justVeggies = pd.read_csv('Vegetable-Prices-2022.csv')

In [24]:
justFruit.head()

,Fruit,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Apples,Fresh,1.8541,per pound,0.90,0.2425,pounds,0.4996
1,"Apples, applesauce",Canned,1.1705,per pound,1.00,0.5401,pounds,0.6323
2,"Apples, ready-to-drink",Juice,0.8699,per pint,1.00,8.0000,fluid ounces,0.4349
3,"Apples, frozen concentrate",Juice,0.6086,per pint,1.00,8.0000,fluid ounces,0.3043
4,Apricots,Fresh,3.6162,per pound,0.93,0.3638,pounds,1.4145

In [25]:
justVeggies.head()

,Vegetable,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Acorn squash,Fresh,1.2136,per pound,0.4586,0.4519,pounds,1.1961
1,Artichoke,Fresh,2.4703,per pound,0.3750,0.3858,pounds,2.5415
2,Artichoke,Canned,3.4498,per pound,0.6500,0.3858,pounds,2.0476
3,Asparagus,Fresh,2.9531,per pound,0.4938,0.3968,pounds,2.3731
4,Asparagus,Canned,3.4328,per pound,0.6500,0.3968,pounds,2.0958

In [27]:
renamedFruit = justFruit.rename(columns={'Fruit':'Type'}, inplace=False)
renamedFruit.head()

,Type,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Apples,Fresh,1.8541,per pound,0.90,0.2425,pounds,0.4996
1,"Apples, applesauce",Canned,1.1705,per pound,1.00,0.5401,pounds,0.6323
2,"Apples, ready-to-drink",Juice,0.8699,per pint,1.00,8.0000,fluid ounces,0.4349
3,"Apples, frozen concentrate",Juice,0.6086,per pint,1.00,8.0000,fluid ounces,0.3043
4,Apricots,Fresh,3.6162,per pound,0.93,0.3638,pounds,1.4145

In [28]:
renamedVeggies = justVeggies.rename(columns={'Vegetable':'Type'}, inplace=False)
renamedVeggies.head()

,Type,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Acorn squash,Fresh,1.2136,per pound,0.4586,0.4519,pounds,1.1961
1,Artichoke,Fresh,2.4703,per pound,0.3750,0.3858,pounds,2.5415
2,Artichoke,Canned,3.4498,per pound,0.6500,0.3858,pounds,2.0476
3,Asparagus,Fresh,2.9531,per pound,0.4938,0.3968,pounds,2.3731
4,Asparagus,Canned,3.4328,per pound,0.6500,0.3968,pounds,2.0958

In [31]:
priceData = pd.merge(renamedFruit,renamedVeggies, how='outer')
priceData.head()

,Type,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Acorn squash,Fresh,1.2136,per pound,0.4586,0.4519,pounds,1.1961
1,Apples,Fresh,1.8541,per pound,0.9000,0.2425,pounds,0.4996
2,"Apples, applesauce",Canned,1.1705,per pound,1.0000,0.5401,pounds,0.6323
3,"Apples, frozen concentrate",Juice,0.6086,per pint,1.0000,8.0000,fluid ounces,0.3043
4,"Apples, ready-to-drink",Juice,0.8699,per pint,1.0000,8.0000,fluid ounces,0.4349

In [43]:
priceData.groupby(['Form'])['Type'].count()

Form
Canned    36
Dried     17
Fresh     66
Frozen    25
Juice     11
Name: Type, dtype: int64

In [51]:
barData = priceData.groupby(['Form'])['CupEquivalentPrice'].mean()
print(barData)

C:\Users\nicho\AppData\Local\Temp\ipykernel_13804\1328659396.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  barData[0]

np.float64(1.0360833333333332)

In [57]:

# plot
fig, ax = plt.pyplot.subplots()

ax.bar(barData.iloc[:,0], barData.iloc[:,1], width=1, edgecolor="white", linewidth=0.7)

ax.set(xlim=(0, 8), xticks=np.arange(1, 8),
       ylim=(0, 8), yticks=np.arange(1, 8))

plt.show()

AttributeError: module 'matplotlib' has no attribute 'pyplot'